name: Check for broken links

on:
  workflow_dispatch:
  schedule:
    - cron: '0 6 1 * *'

permissions:
  contents: read

jobs:
  link-checker:
    name: Check broken links
    runs-on: ubuntu-latest
    steps:
      - name: Check for broken links
        uses: ruzickap/action-my-broken-link-checker@df42b59637dfd06c247a8a95db0ab38708ea83d2 # 2.9.0
        with:
          url: https://www.casahaga.no
          cmd_params: "--max-connections=1 --buffer-size=8192 --header='User-Agent:muffet' --timeout=30 --exclude='apple-touch-icon.png|favicon.*.(png|ico)|safari-pinned-tab.svg|googletagmanager.com|cdn-cgi' --verbose --color=always"
